body {
background-image: url(../img5343.JPG);
    color: rgb(35, 4, 52);
    font-size: 20px;

}
main {
    
    padding: 10px 0 10px;
    border-radius: 10%;
}
h1 {
    font-size: 28px;
    padding: 20px 0;
    margin: 10px auto;
    width: 800px;
    text-align: center;
    background-color: #450c612e;
  border-radius: 22px 22px 22px 22px;
  font-size: 18px;
  font-weight: bold;
  color: #13012cd6;
  padding: 11px 23px 18px 18px;
  border-radius: 50%;
  
}

p   {
text-align: center;
}

section h3 {
    border-bottom: 2px solid hsl(288, 85%, 13%);
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  background-image: url(../img5341.jpg);
  background-repeat: center ;
  background-position: center ;
  padding: 20px 10px 10px 48px;
  color: #ffffff;
}
img {
    display: block;
    margin: 0 auto;
    border-radius: 80%;
    border: solid #3e06477b;
    
}
h3 {
    text-align: center;
    border: #ffffff;
    
    
}
 u
ul {
    text-align: center;
}
li {
    text-align: center;
},

div {
    text-align: center;
}
 nav {
  border-radius: 16px;
  background-color: #eae1f3b7;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.16);
  padding: 24px 28px;
  margin-bottom: 24px;
}