* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    min-height: 100vh;
    background-color: rgb(224, 251, 255);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

h1 {
    font-size: 80px;
    color: rgb(0, 255, 238);
    margin-left: 100px;
    cursor: default;
    -webkit-text-stroke: 2px #3333339b;
    text-stroke: 2px #333;
}


.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 50px;
    font-size: 18px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    transition: opacity 0.3s;
}

.menu li:hover {
    opacity: 0.6;
}


.slider-container {
    position: relative;
    width: 100%;      
    max-width: 1700px; 
    margin: 50px auto;
    overflow: hidden;
}


.image-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px;
    padding: 0 10%;
   
}


.image-wrapper img {
    width: 80%;        
    flex: 0 0 80%;   
    height: 500px;     
    object-fit: cover;
    border-radius: 15px;
}

.image-wrapper img.active {
    opacity: 1;
}


.slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
    
   
    opacity: 0; 
    visibility: hidden;
    transition: all 0.3s ease;
    
    border-radius: 5px;
}


.slider-container:hover button {
    opacity: 1;
    visibility: visible;
}


.slider-container button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn { left: 20px; }
.next-btn { right: 20px; }


.site-footer {
    background-color: #f9e6f18e; 
    color: #666;             
    padding: 40px 20px;
    font-size: 10px;          
    line-height: 1.8;
    border-top: 1px solid #eee;
    margin-top: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}


.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.copyright {
    font-weight: bold;
    color: #333;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.footer-links a {
    text-decoration: none;
    color: #666;
}

.footer-links a:hover {
    color: #000;
    text-decoration: underline;
}

/* 구분선 */
.footer-divider {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

/* 하단 사업자 정보 */
.footer-info {
    font-style: normal;
}

.info-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 5px;
}

.info-row span {
    position: relative;
}


.info-row span:not(:last-child)::after {
    content: "|";
    margin-left: 15px;
    color: #ccc;
}


@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .info-row {
        flex-direction: column;
        gap: 0;
    }
    
    .info-row span::after {
        display: none;
    }
}